<%= form_for(@galery) do |f| %>
  <% if @galery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galery.errors.count, "error") %> prohibited this galery from being saved:</h2>

      <ul>
      <% @galery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %>
    <%= f.hidden_field :image_cache %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
