<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @galery.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @galery.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @galery.company %>
</p>

<%= link_to 'Edit', edit_galery_path(@galery) %> |
<%= link_to 'Back', galeries_path %>
