<%= simple_form_for(@activity) do |f| %>
  <div class="field">
    <%= f.input :image, as: :file %>
  </div>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.association :company %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
